.list-group-item:hover {
  cursor: pointer;
  background-color: #eaf6fd;
}
/* 
.fix {
  list-style-type: none;
  position: fixed;
  color: white;
} */


.seacret {
  list-style-type: none;
}
 /* .input[type=checkbox] { */
input[type=checkbox] {
  transform: scale(1.5);
} 